<% include ./partials/header.ejs %>

<!-- Page Content -->
       <div id="page-content-wrapper page-1">
           <div class="container-fluid bg-video">
               <div class="row">
                 <div class="homeContent">
                   <div class="col-sm-11 col-sm-offset-1">
                        <h1><%= title %></h1>
                        <hr>
                        <p>I'm Chad and this is my <%= intro %> I focus on all things Wordpress and my newfound love for Node & Angular, I have an eye for details and a passion for perfection.  </p>
                        <div class="homeDetails">
                          <ul>
                            <li><%= location %></li>
                            <li><%= email %></li>
                            <li><%= phone %></li>
                          </ul>
                          <button type="button" name="button" href="/about">About</button>
                          <button type="button" name="button" href="/projects">Portfolio</button>
                        </div>
                    </div>
                 </div>
                 <input type="checkbox" checked data-toggle="toggle">
                 <div class="space">

                 </div>
               </div>
           </div>
       </div>






<% include ./partials/footer.ejs %>
